*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  display: block;
}
body{
  font-family: Geist;
}
body {
  background-color: #fff !important;
  color: #000 !important;
}

.p-button, .p-inputtext {
  background-color: #ffffff !important;
  color: #000000 !important;
  border: 1px solid #ccc !important;
}
